<% include partials/loggedinheader %>

<link rel="stylesheet" href="/userpage.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>

<h1>
    <%= currentUser.firstname + " " + currentUser.lastname %>
</h1>

<h1> <%= currentUser.birthday %> </h1>
<h1> <%= currentUser.zipcode %> </h1>
<h1> <%= currentUser.email %> </h1>

<div class="entirelist" id="containers">
    <h1 class="todotitle">To-Do List<i class="fa fa-plus"></i></h1>
    <input type="text" class="todolistinput" placeholder="Add New Entry">

    <ul class="todolist">
        <li class="listitem"><span><i class="fa fa-trash"></i></span> asdas</li>
        <li class="listitem"><span><i class="fa fa-trash"></i></span> asdas</li>
        <li class="listitem"><span><i class="fa fa-trash"></i></span> asdas</li>
    </ul>
</div>




<a href="/logout">Log out</a>

<script type="text/javascript" src="/todolist.js"></script>

<% include partials/footer %>